body { 
  background: url(img/paris-background-small-watermark.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.centered {
  text-align: center;
}

.date {
  padding-top: 5%;
}