body { 
  background: url(img/OFF14_Austin_Tal_Alejandro_BrittanyA_02.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover?;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img {
  max-width: 100%;
}

h1, h2 {
  color: #373d3f;
  font-size: 4em;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #d8d9d4;
}

a:link {
  color: #373d3f;
}

a:hover {
  color: #f2f3f4;
}

.header h2 {
  padding-top: 8px;
  font-size: 2em;
}

.header img {
  float: left; 
  margin-right: -25%;
  margin-left: 25%;
}

.centered {
  text-align: center;
}

.centeredImg {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 0;
}

.date {
  padding-top: 1%;
}

.mobileSubmit h2 {
  float: left; 
  margin-right: 10%;
}

.social {
  text-align: center;
  color: #373d3f;
  padding-left: 11%;
}

.social > span {
  margin: .5% 1% auto 1%;
}

.social img {
  float: right;
  padding-right: 2%;
  margin-top: 1%;
}

.social a:hover {
  color: #373d3f;
}

.formDiv {
  text-align: center;
}

.formDiv form {
  display: inline-block;
  width: 100%;
}

.formDiv input {
  margin-left: 2%;
  padding-top: 25px;

}

.formDiv button {
  margin-left: 1%;
  margin-bottom: 25px;
}

.updates > h2 {
  float: left;
  margin-right: 40px;
}

.contactUs {
  clear: both;
}

@media all and (max-width: 1400px) {
  .header img {
    float: none;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3%;
    margin-top: -3%;
  }
  
}

@media all and (max-width: 768px) {

  h2 {
    font-size: 2.5em;
    line-height: 2em;
  }
  
  .extendLogo {
    width: 80%;
  }

  .updates > h2 {
    float: none;
  }

  .social {
    padding-left: 0;
  }

  .social img {
    float: none;
  }

  .header img {
    width: 30%;

  }

}

@media all and (max-width: 650px) {
  h2 {
    line-height: 1.5em;
  }
}

@media all and (max-width: 450px) {
  .contaceInfo > h2 {
    font-size: 2em;
  }
}

@media all and (max-height: 768px) {
  footer {
    bottom: auto;
  }

}

@media all and (max-height: 850px) {
  .date {
    margin-top: 0;
  }

  .contaceInfo {
    margin-bottom: 25px; 
  }
}

@media all and (max-height: 1050px) {

  body { 
    background: url(img/OFF14_Austin_Tal_Alejandro_BrittanyA_03.png) no-repeat center center fixed; 
    -webkit-background-size: cover?;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media all and (max-width: 1420px) and (min-width: 768px) {
  body { 
    background: url(img/OFF14_Austin_Tal_Alejandro_BrittanyA_03.png) no-repeat center center fixed; 
    -webkit-background-size: cover?;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
