@font-face {
  font-family: 'Segoe UI';
  src: url("https://i.s-microsoft.com/fonts/segoe-ui/arabic/light/latest.eot");
  src: local("Segoe UI Light"), url("https://i.s-microsoft.com/fonts/segoe-ui/arabic/light/latest.eot?#iefix") format("embedded-opentype"), url("https://i.s-microsoft.com/fonts/segoe-ui/arabic/light/latest.woff") format("woff"), url("https://i.s-microsoft.com/fonts/segoe-ui/arabic/light/latest.ttf") format("truetype"), url("https://i.s-microsoft.com/fonts/segoe-ui/arabic/light/latest.svg#web") format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Segoe UI';
  src: url("https://i.s-microsoft.com/fonts/segoe-ui/arabic/semilight/latest.eot");
  src: local("Segoe UI Semilight"), url("https://i.s-microsoft.com/fonts/segoe-ui/arabic/semilight/latest.eot?#iefix") format("embedded-opentype"), url("https://i.s-microsoft.com/fonts/segoe-ui/arabic/semilight/latest.woff") format("woff"), url("https://i.s-microsoft.com/fonts/segoe-ui/arabic/semilight/latest.ttf") format("truetype"), url("https://i.s-microsoft.com/fonts/segoe-ui/arabic/semilight/latest.svg#web") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Segoe UI';
  src: url("https://i.s-microsoft.com/fonts/segoe-ui/arabic/normal/latest.eot");
  src: local("Segoe UI"), url("https://i.s-microsoft.com/fonts/segoe-ui/arabic/normal/latest.eot?#iefix") format("embedded-opentype"), url("https://i.s-microsoft.com/fonts/segoe-ui/arabic/normal/latest.woff") format("woff"), url("https://i.s-microsoft.com/fonts/segoe-ui/arabic/normal/latest.ttf") format("truetype"), url("https://i.s-microsoft.com/fonts/segoe-ui/arabic/normal/latest.svg#web") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Segoe UI';
  src: url("https://i.s-microsoft.com/fonts/segoe-ui/arabic/semibold/latest.eot");
  src: local("Segoe UI Semibold"), url("https://i.s-microsoft.com/fonts/segoe-ui/arabic/semibold/latest.eot?#iefix") format("embedded-opentype"), url("https://i.s-microsoft.com/fonts/segoe-ui/arabic/semibold/latest.woff") format("woff"), url("https://i.s-microsoft.com/fonts/segoe-ui/arabic/semibold/latest.ttf") format("truetype"), url("https://i.s-microsoft.com/fonts/segoe-ui/arabic/semibold/latest.svg#web") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Segoe UI';
  src: url("https://i.s-microsoft.com/fonts/segoe-ui/arabic/bold/latest.eot");
  src: local("Segoe UI Bold"), url("https://i.s-microsoft.com/fonts/segoe-ui/arabic/bold/latest.eot?#iefix") format("embedded-opentype"), url("https://i.s-microsoft.com/fonts/segoe-ui/arabic/bold/latest.woff") format("woff"), url("https://i.s-microsoft.com/fonts/segoe-ui/arabic/bold/latest.ttf") format("truetype"), url("https://i.s-microsoft.com/fonts/segoe-ui/arabic/bold/latest.svg#web") format("svg");
  font-weight: 700;
  font-style: normal; }
